/* 

    TABLE OF CONTENTS
      1- importing google fonts[family=Poppins]
      2- Applying font face to whole website
      3- resetting
      4- defined colors
      5- background colors
      6- rainbow-text
      5- height 100vh
      7- rainbow-border
      8- skill-item
      9- grid 3 by 3 
      10- height 50vh
      11- profile-pic
      12- media queries
          >>> break pointt -> 350px
              >>> project-title
          >>> break pointt -> 400px
          >>> break pointt -> 550px
          >>> break pointt -> 768px
          >>> break pointt -> 992px
              >>> vh-lg-10
          >>> break pointt -> 1200px
          >>> break pointt -> 1400px
      13- background pattern

*/

/* 1- importing google fonts[family=Poppins] */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

/* 2- Applying font face to whole website */
body {
  font-family: "Poppins", sans-serif;
}

/* 3- resetting */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 4- defined colors */
:root {
  --dark-gray: #242c37;
  --ligh-gray: #2c3343;
}

/* 5- background colors */
.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-light-gray {
  background-color: var(--ligh-gray);
}

/* 6- rainbow-text */
.rainbow-text {
  background: linear-gradient(
    90deg,
    #00ffff,
    #00ffff,
    #00ffff,
    #009898,
    #0f0fff,
    #4141ff,
    #8000ff,
    #dd00ff,
    #dd00ff,
    #dd00ff
  );
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}

/* 5- height 100vh */
.vh-100 {
  height: 100vh;
}

/* 7- rainbow-border */
.rainbow-border {
  display: inline-block;
  background: linear-gradient(
    135deg,
    #00ffff,
    #00ffff,
    #00ffff,
    #046666,
    #0000ff,
    #0000ff,
    #8000ff,
    #dd00ff,
    #dd00ff,
    #dd00ff
  );
  border-radius: 5px;
  padding: 0.2rem;
}

/* 8- skill-item */
.skill-item {
  background-color: var(--ligh-gray);
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
/* 9- grid 3 by 3 */
.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

/* 10- height 50vh */
.vh-50 {
  height: 50vh;
}

/* 11- profile-pic */
.profile-pic {
  max-height: 100%;
}

/* 12- media quereis */
/* break pointt -> 350px */
@media screen and (min-width: 350px) {
  .profile-pic {
    height: 24rem;
  }
  .title {
    width: 50% !important;
  }
}

/* break pointt -> 400px */
@media screen and (min-width: 400px) {
  .profile-pic {
    height: 26rem;
  }
  .title {
    width: 34% !important;
  }
}

/* break pointt -> 550px */
@media screen and (min-width: 550px) {
  .profile-pic {
    height: 26rem;
  }
  .grid-3x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .title {
    width: 30% !important;
  }
}

/* break pointt -> 768px*/
@media screen and (min-width: 768px) {
  .skill-item {
    width: 9rem;
    height: 9rem;
  }
  .title {
    width: 24% !important;
  }
}

/* break pointt -> 992px */
@media screen and (min-width: 992px) {
  .profile-pic {
    height: 26rem;
  }
  .vh-lg-100 {
    height: 100vh;
  }
  .title {
    width: 26% !important;
  }
}

/* break pointt -> 1200px */
@media screen and (min-width: 1200px) {
  .profile-pic {
    height: 32rem;
  }
  .grid-3x3 {
    gap: 2rem;
  }

  .title {
    width: 28% !important;
  }
}

/* break pointt -> 1400px */
@media screen and (min-width: 1400px) {
  .profile-pic {
    height: 40rem;
  }
}

/* background pattern */
.bg-pattern {
  background: conic-gradient(from 90deg at 2px 2px, #0000 25%, #242c37 0) -1px -1px,
    linear-gradient(
      -45deg,
      #242c37 15%,
      #2c3343 0 28%,
      #0000 0 72%,
      #2c3343 0 85%,
      #242c37 0
    ),
    linear-gradient(
      45deg,
      #242c37 15%,
      #2c3343 0 28%,
      #0000 0 72%,
      #2c3343 0 85%,
      #242c37 0
    ),
    conic-gradient(from 90deg at 40% 40%, #242c37 25%, #2c3343 0)
      calc(10px / -5) calc(10px / -5);
  background-size: 10px 10px;
}
